# dependencies
node_modules
.pnpm-store

# builds
.output
.nuxt
.nitro
dist
dist-ssr
coverage

# local env
.env
.env.*
!.env.example
docker/.env

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# wordpress runtime data
wordpress
db-data
apps/cms/wp-content/uploads/
docker/private-plugins/
apps/cms/wp-content/plugins/advanced-custom-fields-pro/

# local reference material
temp-ref-assets/
temp-reference-assets/
