COMPOSE_PROJECT_NAME=my-website

DOMAIN=my-website.localhost
CMS_DOMAIN=cms.my-website.localhost

WORDPRESS_DB_NAME=my_website
WORDPRESS_DB_USER=my_website
WORDPRESS_DB_PASSWORD=my_website
WORDPRESS_DB_ROOT_PASSWORD=my-website-root

WORDPRESS_URL=http://cms.my-website.localhost
WORDPRESS_TITLE=My Website CMS
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=changeme
WORDPRESS_ADMIN_EMAIL=hello@example.com

WPGRAPHQL_VERSION=2.11.0
WPGRAPHQL_CONTENT_BLOCKS_VERSION=v4.8.4

NUXT_PUBLIC_SITE_URL=http://my-website.localhost
NUXT_PUBLIC_WORDPRESS_GRAPHQL_URL=http://127.0.0.1:8080/graphql
