@use '../mixins' as mixins;

@mixin group-shell {
  width: var(--article-frame);
  margin-inline: auto;

  @include mixins.width-alignment(default);

  .content-flow > & {
    width: 100%;
    max-width: none;
    margin-inline: 0;
    padding-inline: 0;
  }
}

@mixin group-stack {
  > * + * {
    margin-top: var(--space-4);
  }
}
