@use '../mixins' as mixins;
@use './link' as link;

@mixin paragraph-block {
  width: auto;
  max-width: none;
  margin: 30px 20vw 0;
  padding: 0 50px;
  color: var(--type-body-color);
  font-size: var(--type-body-size);
  line-height: var(--type-body-line-height);
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;

  @include mixins.width-alignment(default);

  @include mixins.float-breakout-wrapping-content {
    max-width: var(--article-column);
    margin-bottom: var(--space-5);
  }

  @include mixins.content-flow-child {
    grid-column: full;
    width: auto;
    max-width: none;
    margin: 30px 20vw 0;
    padding: 0 50px;
  }

  @include mixins.breakpoint(tablet-down) {
    margin-inline: 12vw;

    @include mixins.content-flow-child {
      margin-inline: 12vw;
    }
  }

  @include mixins.breakpoint(phone) {
    margin: 20px 14vw 0;
    padding: 0;

    @include mixins.content-flow-child {
      margin: 20px 14vw 0;
      padding: 0;
    }
  }

  &.has-text-align-center {
    text-align: center;
  }

  &.has-text-align-right {
    text-align: right;
  }

  &.has-text-align-left {
    text-align: left;
  }
}

@mixin paragraph-links {
  a {
    @include link.rich-link;

    &:hover,
    &:focus-visible {
      @include link.rich-link-hover;
    }
  }
}

@mixin paragraph-deep-links {
  :deep(a) {
    @include link.rich-link;

    &:hover,
    &:focus-visible {
      @include link.rich-link-hover;
    }
  }
}
